@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Oswald', sans-serif; 
  --font-optical-sizing: auto;
  --font-weight: <weight>;
  --font-style: normal;
  --color-primary-light: #FFFFFF;
  --color-primary-dark: #121212;  
  --color-secondary: #4F9CF9;     

  --color-button-primary-bg: #4F9CF9;
  --color-button-primary-text: #FFFFFF;
  --color-button-primary-hover: #3073C7;

  --color-button-secondary-bg: transparent;
  --color-button-secondary-text: #4F9CF9;
  --color-button-secondary-border: #4F9CF9;
  --color-button-secondary-hover-bg: #4F9CF9;
}